spring:
  application:
    name: biblioteca

  datasource:

    username: ${DATABASE_USERNAME:jeffer}
    password: ${DATABASE_PASSWORD:' '}
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/biblioteca}
    driver-class-name: org.postgresql.Driver


  jpa:
    database: postgresql
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop